.container {
    background-color: #4e3482;
    color: white;
    border-radius: 5px;
}
h1 {
    text-align: center;
}
.btn-group {
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    border: 1px white solid;
}
