.container {
    background-color: #4e3482;
    color: white;
    border-radius: 5px;
    width: 500px;
}
h1 {
    text-align: center;
}
.btn-group {
    text-align: center;
    margin: auto;
}
.btn {
    border: 1px white solid;
}
