.container {
    background-color: #4e3482;
    color: white;
    border-radius: 5px;
    padding-bottom: 20px;

}
h1 {
    text-align: center;
}
.btn-group {
    text-align: center;
    margin: auto auto 2% auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    border: 1px white solid;
}
.streamer-container {
    color: black;
    background-color: white;
    height: 500px;
    width: 80%;
    border-radius: 5px;
}
.col {
    height: 100px;
}
.frame {
    border: 1px solid black;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    margin: auto;
    background-size: 100%;
}
#search-streamer-label {
    display: none;
}
#search-streamer{
    align-items: center;
    margin: auto auto 2% auto;
    display: flex;
    justify-content: center;
    text-align: center;
}